html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  background: #0b1220;   /* mismo fondo que la escena */
  overflow: hidden;      /* evita scroll */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
